#visual {
    width:100%; height:500px;  position:relative; transition:0.5s;
    background:url(../img/visual.jpg) no-repeat center/cover;
}

//tablet 
@media screen and (max-width:$tablet){
    #visual {
        background:orange; height:300px;
    }
}

//mobile 
@media screen and (max-width:$mobile){
    #visual {
        background:lightblue; height:250px;
    }
}