#header_sub {
    width:100%; border-bottom:1px solid #ddd; z-index:2; position:relative;

    .inner {
        width:1180px; height:120px; margin:0px auto; position:relative;

        h1 {
            position:absolute; left:0px; bottom:20px;
            a{
                font:bold 24px/1 'arial'; color:#333;
            }
        }

        #gnb {
            position:absolute; bottom:0px; right:0px;

            >li {
                float:left; position:relative;

                >a {
                    display:block; width:150px; height:50px; 
                    font:bold 14px/50px 'arial'; color:#555; text-align:center;
                    transition:0.5s;

                    &:hover {
                        background:#555; color:#fff;
                    }
                    &.on {
                        background:#555; color:#fff;
                    }
                }

                ul {
                    position:absolute; top:50px; left:0px;
                    display:none;

                    li>a {
                        display:block; width:150px; height:50px; background:#555;
                        font:12px/50px 'arial'; color:#bbb; text-align:center;

                        &:hover {color:orange;}
                    }
                }
            }
        }
    }
}


//tablet 
@media screen and (max-width:$tablet){
    #header_sub {
        .inner {
            width:100%; height:80px;

            h1 {left:30px;}
            #gnb {display:none;}
        }
    }
}

//mobile 
@media screen and (max-width:$mobile){
    
}